<launch>

  <arg name="use_sim_time" value="true"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_pub" args="1.65 0.0 1.12 0.0 0.0 0.0 map base_link 50"/> -->
  <node pkg="tf" type="static_transform_publisher" name="tf_pub_2" args="1.65 0.0 1.12 0.0 0.0 0.0 /base_link 1 50"/>

  <!-- <node pkg="laserscan_to_pointcloud" type="laserscan_to_pointcloud" name="laserscan_to_pointcloud" output="screen"/> -->
  
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" >
    <param name="resolution" value="0.5" />
    <param name="frame_id" type="string" value="map" />
    <param name="sensor_model/max_range" value="15.0" />
    <param name="sensor_model/min" value="0.2" />
    <param name="sensor_model/max" value="0.99" />
    <param name="sensor_model/hit" value="0.9" />
    <param name="sensor_model/miss" value="0.45" />
    <param name="color/r" value="0.1" />
    <param name="color/g" value="0.1" />
    <param name="color/b" value="0.1" />
    <param name="color/a" value="1.0" />
    <param name="occupancy_min_z" value="0" />
    <param name="occupancy_max_z" value="3" />
    <param name="pointcloud_min_z" value="-999" />
    <param name="pointcloud_max_z" value="999" />
    <param name="height_map" value="false" />
    <param name="publish_free_space" value="false" />
    <param name="ground_filter/plane_distance" value="0.1" />
    <param name="filter_ground" value="false" />
    <param name="latch" value="false" /> 
    <remap from="cloud_in" to="/lidar3D" />
  </node>
</launch>

